* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #b4cfee;
    color: #212121;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5564be;
  }
  
  .h1 {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 30px;
    font-weight: 600;
    color: #a7e7f7;
    font-style: oblique;
    text-decoration: underline;

  }

  .search-form {
  width: 700px;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

  .search-form__input {
    display: flex;
    justify-self: center;
    align-items: center;
    font: inherit;
    padding: 10px;
    width: 400px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #3a348a;
    font-weight: 600;
    font-size: 20px;
    border-radius: 15px;
    outline: none;
    border: 1px solid #212121;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
  }

  .search-form__input:focus,
  .search-form__input:hover {
    border: 2px solid #3a348a;
  }

  .search-form__input::placeholder {
    color: #3a348a;
    font-weight: 400;
    font-size: 20px;
    font-style: oblique; 
  }
  
  .button {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3a348a;
    font-weight: 600;
    font-size: 20px;
    font-style: oblique;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    border: 1px solid #212121;;
    border-radius: 15px;
    width: 150px;
    height: 50px;
  }
  
  .button:focus,
  .button:hover{
    border: 2px solid #3a348a;
  }

  p {
    margin: 0;
    padding: 0;
  }
  
  .bold {
    font-weight: 700;
  }
  
  .gallery {
    margin-top: 50px;
    list-style: none;
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
  }
  
  .photo-card {
    width: 100%;
    height: 400px;
    background-color: #d1e7ff;
    box-shadow: 0px 4px 4px rgba(41, 28, 122, 0.35);
    border-radius: 15px;
    gap: 15px;
    padding-bottom: 10px;
  }
  
  
  img {
    padding: 10px;
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 15px;
  }
  
  .info {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 10px;
  padding-inline: 20px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-radius: 5px 5px 0 0;
}

.info-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #3a348a;
  font-style: italic;
  margin-bottom: 10px;
}